<h1>help</h1>
<p>
Un cuestionario es un instrumento de investigación que consiste en una serie de preguntas y otras indicaciones con el propósito de obtener información de los consultados. Aunque a menudo están diseñados para poder realizar un análisis estadístico de las respuestas, no es siempre así. 
El fin de este cuestionario es que los alumnos de CORE 2017 aprendan a utilizar correctamente los comandos de Git y Github.
</p>
